@font-face {
  font-family: "maple";
  src: url(assets/MapleMono_NF_CN_Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: calc(15px + 0.390625vw);
  font-family: "maple", 'Courier New', Courier, monospace;
}